In [1]:
import pandas as pd
import numpy as np
import os

pd.set_option('display.max_columns', None)

Loading up dataset based on Crime Data from 2020 to present and outputting dataframe to see how the data looks

In [2]:
df = pd.read_csv('Crime_Data_from_2020_to_Present.csv')
print(df)

             DR_NO               Date Rptd                DATE OCC  TIME OCC  \
0        211507896  04/11/2021 12:00:00 AM  11/07/2020 12:00:00 AM       845
1        201516622  10/21/2020 12:00:00 AM  10/18/2020 12:00:00 AM      1845
2        240913563  12/10/2024 12:00:00 AM  10/30/2020 12:00:00 AM      1240
3        210704711  12/24/2020 12:00:00 AM  12/24/2020 12:00:00 AM      1310
4        201418201  10/03/2020 12:00:00 AM  09/29/2020 12:00:00 AM      1830
...            ...                     ...                     ...       ...
1004986  252104112  02/02/2025 12:00:00 AM  02/02/2025 12:00:00 AM       130
1004987  250404100  02/18/2025 12:00:00 AM  02/18/2025 12:00:00 AM      1000
1004988  251304095  01/31/2025 12:00:00 AM  01/30/2025 12:00:00 AM      1554
1004989  251704066  01/17/2025 12:00:00 AM  01/17/2025 12:00:00 AM      1600
1004990  251904210  03/25/2025 12:00:00 AM  03/25/2025 12:00:00 AM      1235

         AREA    AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0          15  N Hollywood         1502         2     354
1          15  N Hollywood         1521         1     230
2           9     Van Nuys          933         2     354
3           7     Wilshire          782         1     331
4          14      Pacific         1454         1     420
...       ...          ...          ...       ...     ...
1004986    21      Topanga         2103         2     946
1004987     4   Hollenbeck          479         2     237
1004988    13       Newton         1372         2     850
1004989    17   Devonshire         1774         2     624
1004990    19      Mission         1944         2     850

                                               Crm Cd Desc  \
0                                        THEFT OF IDENTITY
1           ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT
2                                        THEFT OF IDENTITY
3        THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...
4          THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)
...                                                    ...
1004986                          OTHER MISCELLANEOUS CRIME
1004987                     CHILD NEGLECT (SEE 300 W.I.C.)
1004988                                  INDECENT EXPOSURE
1004989                           BATTERY - SIMPLE ASSAULT
1004990                                  INDECENT EXPOSURE

                                         Mocodes  Vict Age Vict Sex  \
0                                           0377        31        M
1        0416 0334 2004 1822 1414 0305 0319 0400        32        M
2                                           0377        30        M
3                                           0344        47        F
4                            1300 0344 1606 2032        63        M
...                                          ...       ...      ...
1004986                                      NaN        35        M
1004987                           1258 0553 0602        11        M
1004988                                      NaN        16        F
1004989                      0400 1259 1822 0356        17        M
1004990                      0529 2024 1815 0913        35        F

        Vict Descent  Premis Cd             Premis Desc  Weapon Used Cd  \
0                  H      501.0  SINGLE FAMILY DWELLING             NaN
1                  H      102.0                SIDEWALK           200.0
2                  W      501.0  SINGLE FAMILY DWELLING             NaN
3                  A      101.0                  STREET             NaN
4                  H      103.0                   ALLEY             NaN
...              ...        ...                     ...             ...
1004986            X      101.0                  STREET             NaN
1004987            B      501.0  SINGLE FAMILY DWELLING             NaN
1004988            H      101.0                  STREET             NaN
1004989            H      721.0             HIGH SCHOOL           400.0
1004990            H      721.0             HIGH SCHOOL             NaN

                                            Weapon Desc Status  Status Desc  \
0                                                   NaN     IC  Invest Cont
1                      KNIFE WITH BLADE 6INCHES OR LESS     IC  Invest Cont
2                                                   NaN     IC  Invest Cont
3                                                   NaN     IC  Invest Cont
4                                                   NaN     IC  Invest Cont
...                                                 ...    ...          ...
1004986                                             NaN     IC  Invest Cont
1004987                                             NaN     IC  Invest Cont
1004988                                             NaN     IC  Invest Cont
1004989  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)     IC  Invest Cont
1004990                                             NaN     IC  Invest Cont

         Crm Cd 1  Crm Cd 2  Crm Cd 3  Crm Cd 4  \
0           354.0       NaN       NaN       NaN
1           230.0       NaN       NaN       NaN
2           354.0       NaN       NaN       NaN
3           331.0       NaN       NaN       NaN
4           420.0       NaN       NaN       NaN
...           ...       ...       ...       ...
1004986     946.0       NaN       NaN       NaN
1004987     237.0       NaN       NaN       NaN
1004988     850.0       NaN       NaN       NaN
1004989     624.0       NaN       NaN       NaN
1004990     850.0       NaN       NaN       NaN

                                         LOCATION Cross Street      LAT  \
0         7800    BEEMAN                       AV          NaN  34.2124
1                 ATOLL                        AV     N  GAULT  34.1993
2        14600    SYLVAN                       ST          NaN  34.1847
3         6000    COMEY                        AV          NaN  34.0339
4                         4700    LA VILLA MARINA          NaN  33.9813
...                                           ...          ...      ...
1004986  22100    ROSCOE                       BL          NaN  34.2259
1004987   3500    PERCY                        ST          NaN  34.0277
1004988    300 E  53RD                         ST          NaN  33.9942
1004989   9600    ZELZAH                       AV          NaN  34.2450
1004990  11100    OMELVENY                     AV          NaN  34.2722

              LON
0       -118.4092
1       -118.4203
2       -118.4509
3       -118.3747
4       -118.4350
...           ...
1004986 -118.6126
1004987 -118.1979
1004988 -118.2701
1004989 -118.5233
1004990 -118.4417

[1004991 rows x 28 columns]


Telling the operating system to create a folder called raw if one doesnt exsists already, converting the csv dataset into parquet and specifying what engine is used for conversion

In [3]:
folder = "raw"
if not os.path.exists(folder):
    os.makedirs(folder)

df.to_parquet(f'{folder}/data_raw.parquet', engine='pyarrow')

Here I am printing the first 20 rows to spot any anomalies within the dataset

In [4]:
df.head(20)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,04/11/2021 12:00:00 AM,11/07/2020 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,0377,31,M,H,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,10/21/2020 12:00:00 AM,10/18/2020 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0416 0334 2004 1822 1414 0305 0319 0400,32,M,H,102.0,SIDEWALK,200.0,KNIFE WITH BLADE 6INCHES OR LESS,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,12/10/2024 12:00:00 AM,10/30/2020 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,0377,30,M,W,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509
3,210704711,12/24/2020 12:00:00 AM,12/24/2020 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,0344,47,F,A,101.0,STREET,NaN,NaN,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,NaN,34.0339,-118.3747
4,201418201,10/03/2020 12:00:00 AM,09/29/2020 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1300 0344 1606 2032,63,M,H,103.0,ALLEY,NaN,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350
5,240412063,12/11/2024 12:00:00 AM,11/11/2020 12:00:00 AM,1210,4,Hollenbeck,429,2,354,THEFT OF IDENTITY,0100,35,M,B,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,5300 CRONUS ST,NaN,34.0830,-118.1678
6,240317069,12/16/2024 12:00:00 AM,04/16/2020 12:00:00 AM,1350,3,Southwest,396,2,354,THEFT OF IDENTITY,0100 0928 1822,21,F,B,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,900 W 40TH PL,NaN,34.0100,-118.2900
7,201115217,10/29/2020 12:00:00 AM,07/07/2020 12:00:00 AM,1400,11,Northeast,1133,2,812,CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...,1259 0448 0304 1822 0500 0522,14,F,H,121.0,YARD (RESIDENTIAL/BUSINESS),500.0,UNKNOWN WEAPON/OTHER WEAPON,AO,Adult Other,812.0,860.0,NaN,NaN,3000 ACRESITE ST,NaN,34.1107,-118.2589
8,241708596,04/20/2024 12:00:00 AM,03/02/2020 12:00:00 AM,1200,17,Devonshire,1729,2,354,THEFT OF IDENTITY,1501,43,M,W,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,17700 SIMONDS ST,NaN,34.2763,-118.5210
9,242113813,12/18/2024 12:00:00 AM,09/01/2020 12:00:00 AM,900,21,Topanga,2196,2,354,THEFT OF IDENTITY,0930,57,M,W,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,20900 MARMORA ST,NaN,34.1493,-118.5886
10,240605846,02/06/2024 12:00:00 AM,06/20/2020 12:00:00 AM,1,6,Hollywood,657,2,812,CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...,0500 1251 0913 0522 0551 1259 0558,13,M,H,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,812.0,860.0,NaN,NaN,1000 N RIDGEWOOD PL,NaN,34.0878,-118.3146
11,242014110,12/18/2024 12:00:00 AM,11/17/2020 12:00:00 AM,1320,20,Olympic,2023,2,354,THEFT OF IDENTITY,0100 0928 1822,34,F,A,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,400 S ARDMORE AV,NaN,34.0672,-118.3016
12,202113531,09/06/2020 12:00:00 AM,09/05/2020 12:00:00 AM,1500,21,Topanga,2149,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,AA,Adult Arrest,510.0,NaN,NaN,NaN,19700 VANOWEN ST,NaN,34.1938,-118.5631
13,201710725,07/03/2020 12:00:00 AM,07/02/2020 12:00:00 AM,500,17,Devonshire,1762,1,310,BURGLARY,0344,0,X,X,203.0,OTHER BUSINESS,NaN,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,9500 COZYCROFT AV,NaN,34.2427,-118.5820
14,201406733,02/16/2020 12:00:00 AM,02/13/2020 12:00:00 AM,2300,14,Pacific,1406,1,330,BURGLARY FROM VEHICLE,0344 1300,32,M,W,707.0,GARAGE/CARPORT,NaN,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,3300 MOTOR AV,NaN,34.0240,-118.4090
15,201405970,02/01/2020 12:00:00 AM,02/01/2020 12:00:00 AM,1658,14,Pacific,1494,1,440,THEFT PLAIN - PETTY ($950 & UNDER),1822 0344,39,M,O,212.0,TRANSPORTATION FACILITY (AIRPORT),NaN,NaN,AO,Adult Other,440.0,NaN,NaN,NaN,300 WORLD WY,NaN,33.9440,-118.4073
16,201820230,11/08/2020 12:00:00 AM,11/08/2020 12:00:00 AM,730,18,Southeast,1844,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,2000 1300 0416 1814 0446 1310 0400,26,F,B,101.0,STREET,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,108TH ST,AVALON AV,33.9383,-118.2652
17,201707577,03/20/2020 12:00:00 AM,03/20/2020 12:00:00 AM,1320,17,Devonshire,1752,2,624,BATTERY - SIMPLE ASSAULT,0202 1300 1822 0356,21,F,W,210.0,RESTAURANT/FAST FOOD,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,624.0,NaN,NaN,NaN,20900 DEVONSHIRE ST,NaN,34.2572,-118.5885
18,201514848,09/04/2020 12:00:00 AM,08/17/2020 12:00:00 AM,400,15,N Hollywood,1549,1,310,BURGLARY,1605 0344 1420,0,M,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,AA,Adult Arrest,310.0,NaN,NaN,NaN,11100 CUMPSTON ST,NaN,34.1700,-118.3722
19,201405023,01/19/2020 12:00:00 AM,01/19/2020 12:00:00 AM,1850,14,Pacific,1435,1,310,BURGLARY,1609 0344,37,M,A,501.0,SINGLE FAMILY DWELLING,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,310.0,NaN,NaN,NaN,3500 PURDUE AV,NaN,34.0158,-118.4258

The following commands starting from the top removes any duplicate records from the dataset, removes values such as "NAN" and "N/A" and replaces them with blank values, changes data fields such as 'Date Rptd' and 'Cd Crm 2' into their correct data type and strips white spaces from string values. Lastly im telling the operating system to create a folder called processed if one doesnt exsists already, converting the csv dataset into parquet and specifying what engine is used for conversion

In [5]:
df = df.drop_duplicates()

df = df.fillna('')

df['Date Rptd'] = pd.to_datetime(df["Date Rptd"])
df['DATE OCC'] = pd.to_datetime(df['DATE OCC'])
df['Premis Cd'] = pd.to_numeric(df['Premis Cd'], errors='coerce')
df['Crm Cd 1'] = pd.to_numeric(df['Crm Cd 1'], errors='coerce')
df['Crm Cd 2'] = pd.to_numeric(df['Crm Cd 2'], errors='coerce')
df['Crm Cd 3'] = pd.to_numeric(df['Crm Cd 3'], errors='coerce')
df['Crm Cd 4'] = pd.to_numeric(df['Crm Cd 4'], errors='coerce')
df['Weapon Used Cd'] = df['Weapon Used Cd'].astype(str)

df['AREA NAME'] = df['AREA NAME'].str.strip()
df['Crm Cd Desc'] = df['Crm Cd Desc'].str.strip()
df['Premis Desc'] = df['Premis Desc'].str.strip()
df['Weapon Desc'] = df['Weapon Desc'].str.strip()
df['Status Desc'] = df['Status Desc'].str.strip()
df['LOCATION'] = df['LOCATION'].str.strip()
df['Cross Street'] = df['Cross Street'].str.strip()


folder = "processed"
if not os.path.exists(folder):
    os.makedirs(folder)

df.to_parquet(f'{folder}/data_processed.parquet', engine='pyarrow')

df

C:\Users\mw946\AppData\Local\Temp\ipykernel_6640\2487772213.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date Rptd'] = pd.to_datetime(df["Date Rptd"])
C:\Users\mw946\AppData\Local\Temp\ipykernel_6640\2487772213.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['DATE OCC'] = pd.to_datetime(df['DATE OCC'])

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,2021-04-11,2020-11-07,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,0377,31,M,H,501.0,SINGLE FAMILY DWELLING,,,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,,34.2124,-118.4092
1,201516622,2020-10-21,2020-10-18,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0416 0334 2004 1822 1414 0305 0319 0400,32,M,H,102.0,SIDEWALK,200.0,KNIFE WITH BLADE 6INCHES OR LESS,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,2024-12-10,2020-10-30,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,0377,30,M,W,501.0,SINGLE FAMILY DWELLING,,,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,,34.1847,-118.4509
3,210704711,2020-12-24,2020-12-24,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,0344,47,F,A,101.0,STREET,,,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,,34.0339,-118.3747
4,201418201,2020-10-03,2020-09-29,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1300 0344 1606 2032,63,M,H,103.0,ALLEY,,,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,,33.9813,-118.4350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004986,252104112,2025-02-02,2025-02-02,130,21,Topanga,2103,2,946,OTHER MISCELLANEOUS CRIME,,35,M,X,101.0,STREET,,,IC,Invest Cont,946.0,NaN,NaN,NaN,22100 ROSCOE BL,,34.2259,-118.6126
1004987,250404100,2025-02-18,2025-02-18,1000,4,Hollenbeck,479,2,237,CHILD NEGLECT (SEE 300 W.I.C.),1258 0553 0602,11,M,B,501.0,SINGLE FAMILY DWELLING,,,IC,Invest Cont,237.0,NaN,NaN,NaN,3500 PERCY ST,,34.0277,-118.1979
1004988,251304095,2025-01-31,2025-01-30,1554,13,Newton,1372,2,850,INDECENT EXPOSURE,,16,F,H,101.0,STREET,,,IC,Invest Cont,850.0,NaN,NaN,NaN,300 E 53RD ST,,33.9942,-118.2701
1004989,251704066,2025-01-17,2025-01-17,1600,17,Devonshire,1774,2,624,BATTERY - SIMPLE ASSAULT,0400 1259 1822 0356,17,M,H,721.0,HIGH SCHOOL,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,9600 ZELZAH AV,,34.2450,-118.5233
1004990,251904210,2025-03-25,2025-03-25,1235,19,Mission,1944,2,850,INDECENT EXPOSURE,0529 2024 1815 0913,35,F,H,721.0,HIGH SCHOOL,,,IC,Invest Cont,850.0,NaN,NaN,NaN,11100 OMELVENY AV,,34.2722,-118.4417

Crime_count purpose is to identify the Top 5 types of criminal activity reported in Los Angeles, while sex_distribution purpose is to identify the distribution of crime victims by biological sex

In [6]:
crime_count = df['Crm Cd Desc'].value_counts().reset_index()
crime_count.columns = ['Type of Crime', 'Total_count']

print(crime_count.head())

sex_distribution = df['Vict Sex'].dropna().value_counts().reset_index()
sex_distribution.columns = ['victim Sex', 'Incident Count']
sex_distribution['percentage'] = (sex_distribution['Incident Count'] / sex_distribution['Incident Count'].sum()) * 100

print(sex_distribution)


folder = "analytics"
if not os.path.exists(folder):
    os.makedirs(folder)

crime_count.to_parquet(f'{folder}/data_analytics_crime_count.parquet', engine='pyarrow')
sex_distribution.to_parquet(f'{folder}/data_analytics_sex_distribution.parquet', engine='pyarrow')

df

                                       Type of Crime  Total_count
0                                   VEHICLE - STOLEN       115190
1                           BATTERY - SIMPLE ASSAULT        74839
2                              BURGLARY FROM VEHICLE        63517
3                                  THEFT OF IDENTITY        62537
4  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...        61092
  victim Sex  Incident Count  percentage
0          M          403879   40.187325
1          F          358580   35.679922
2                     144644   14.392567
3          X           97773    9.728744
4          H             114    0.011343
5          -               1    0.000100

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,2021-04-11,2020-11-07,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,0377,31,M,H,501.0,SINGLE FAMILY DWELLING,,,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,,34.2124,-118.4092
1,201516622,2020-10-21,2020-10-18,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0416 0334 2004 1822 1414 0305 0319 0400,32,M,H,102.0,SIDEWALK,200.0,KNIFE WITH BLADE 6INCHES OR LESS,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,2024-12-10,2020-10-30,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,0377,30,M,W,501.0,SINGLE FAMILY DWELLING,,,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,,34.1847,-118.4509
3,210704711,2020-12-24,2020-12-24,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,0344,47,F,A,101.0,STREET,,,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,,34.0339,-118.3747
4,201418201,2020-10-03,2020-09-29,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1300 0344 1606 2032,63,M,H,103.0,ALLEY,,,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,,33.9813,-118.4350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004986,252104112,2025-02-02,2025-02-02,130,21,Topanga,2103,2,946,OTHER MISCELLANEOUS CRIME,,35,M,X,101.0,STREET,,,IC,Invest Cont,946.0,NaN,NaN,NaN,22100 ROSCOE BL,,34.2259,-118.6126
1004987,250404100,2025-02-18,2025-02-18,1000,4,Hollenbeck,479,2,237,CHILD NEGLECT (SEE 300 W.I.C.),1258 0553 0602,11,M,B,501.0,SINGLE FAMILY DWELLING,,,IC,Invest Cont,237.0,NaN,NaN,NaN,3500 PERCY ST,,34.0277,-118.1979
1004988,251304095,2025-01-31,2025-01-30,1554,13,Newton,1372,2,850,INDECENT EXPOSURE,,16,F,H,101.0,STREET,,,IC,Invest Cont,850.0,NaN,NaN,NaN,300 E 53RD ST,,33.9942,-118.2701
1004989,251704066,2025-01-17,2025-01-17,1600,17,Devonshire,1774,2,624,BATTERY - SIMPLE ASSAULT,0400 1259 1822 0356,17,M,H,721.0,HIGH SCHOOL,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,9600 ZELZAH AV,,34.2450,-118.5233
1004990,251904210,2025-03-25,2025-03-25,1235,19,Mission,1944,2,850,INDECENT EXPOSURE,0529 2024 1815 0913,35,F,H,721.0,HIGH SCHOOL,,,IC,Invest Cont,850.0,NaN,NaN,NaN,11100 OMELVENY AV,,34.2722,-118.4417